<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>DoCSE Alumni Register</mat-card-title>
  </mat-card-header>
  <br>
  <mat-card-content>
    <form class="login-form">
      <span>Full Name <span class="text-danger">*</span>  </span>
      <input name="username" class="customInput" [(ngModel)]="name" type="text" placeholder="Full Name" required>
      <span class="text-danger" *ngIf="err && err.name">{{err.name}}</span>
      <div class="gap"></div>

      <span>Email Address <span class="text-danger">*</span>  </span>
      <input name="username" class="customInput" [(ngModel)]="email" type="text" placeholder="Email Address" required>
      <span class="text-danger" *ngIf="err && err.email">{{err.email}}</span>
      <div class="gap"></div>

      <span>Password <span class="text-danger">*</span> </span>
      <input name="username" class="customInput" style="padding-right: 35px;" [(ngModel)]="password" [attr.type]="viewP ? 'text' : 'password'" placeholder="Password" required>
      <mat-icon class="viewP" (click)="changeViewP();">remove_red_eye</mat-icon>
      <span class="text-danger" *ngIf="err && err.password">{{err.password}}</span>
      <div class="gap"></div>


      <span>Gender <span class="text-danger">*</span> </span>
      <select name="gender" [(ngModel)]="gender" class="customSelect">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <span class="text-danger" *ngIf="err && err.gender">{{err.gender}}</span>
      <div class="gap"></div>

      <span>User Type <span class="text-danger">*</span> </span>
      <select name="type" [(ngModel)]="type" class="customSelect">
        <option value="Alumni">Alumni</option>
        <option value="Faculty">Faculty</option>
        <option value="Student">Student</option>
      </select>
      <span class="text-danger" *ngIf="err && err.type">{{err.type}}</span>
      <div class="gap"></div>


      <button (click)="doReg()" mat-raised-button style="margin-left:10px;" color="primary">Register</button>
    </form>
  </mat-card-content>
</mat-card>