::ng-deep{
   .mat-form-field-appearance-outline .mat-form-field-infix{
      padding: 0 0 10px 0;
   }

   #recommend .mat-standard-chip{
      cursor: pointer;
   }
}

#addSkills{
   h1{
      font-size: 20px;
      font-weight: 700;
   }
}
