@import 'src/assets/variable';

#workList,#addWork{
   h1{
      font-size: 20px;
      font-weight: 700;
   }
}

.lists{
   .item{
      &:not(:last-child){
         border-bottom: 1px solid #ddd;
      }
   }
}

.workDesc{
   p{
      margin:0;
      font-size: 13px;
      line-height: normal;
   }
}

.right{
   button{
      i,svg{
         color: $db;
         transition: .3s;
      }
      &:hover{
         i,svg{
            color: $dp;
         }
      }
   }
}

#addWork{
   .inputs{
      p{
         margin:0;
         font-size: 14px;
         font-weight: 500;
      }
   }
}

::ng-deep{
   .mat-standard-chip{
      cursor: pointer;
   }
}