<div class="elevation mb-3">
    <div class="post">
      <div class="flex jcsb">
        <div class="flex" [routerLink]="['/home/profile']" style="cursor: pointer;">
          <div class="headLeft">
            <img
              [src]="datas.member_photo_url"
              alt="">
          </div>
          <div class="headRight">
            <h4>{{datas.member_name}}</h4>
            <p>{{datas.member_type}}</p>
            <p>{{datas.created_at_formatted}}</p>
          </div>
        </div>
        <div class="right">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <span>Copy Post Link</span>
            </button>
            <button mat-menu-item>
              <span>Embed Post</span>
            </button>
            <button mat-menu-item>
              <span>Hide Post</span>
            </button>
          </mat-menu>
        </div>
      </div>

      <div class="post-body">
        <p class="post-desc">{{datas.body}}</p>
        <div *ngIf="datas.pictures" style="margin:0 -15px;" class="img">
          <img *ngFor="let item of pictures;" [src]="item" style="width:100%; margin-bottom: 7px;" alt="">
        </div>
        <p class="likes-count">
          <span>{{datas.replies_count}} Comment</span>
        </p>
        <div class="post-controls flex">
          <p class="flex ci">
            <mat-icon style="font-size: 20px; padding-top: 2.5px;">message</mat-icon> &nbsp; Comment
          </p>
        </div>
      </div>

    </div>
  </div>