@import "src/assets/variable";

header{
   background: #283e4a;
}
nav{
   color: #fff;
   &>div{
      height: 60px;
   }
   .left{
      p{
         font-size: 15px;
         letter-spacing: 0.5px;
         font-weight: 700;
         margin: 0;
      }
   }
   .right{
      ul{
         padding: 0;
         margin: 0;
         list-style: none;
         li{
            display: inline-block;
            cursor: pointer;
            transition: .2s;
            &:not(:last-child){
               padding-right: 20px;
            }
            &:hover{
               color: $lb;
               transform: scale(1.1);
            }
         }
      }
   }
}