<header>
  <nav class="container">
    <div class="flex jcsb ci">
      <div class="left">
        <p>DoCSE Alumni App</p>
      </div>
      <div class="right">
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" (click)="logout();" aria-label="Example delete icon">delete
        </mat-icon> -->
        <ul>
          <li>Home</li>
          <li>Notification</li>
          <li>Jobs</li>
          <li>Profile</li>
          <li (click)="logout();">Log Out</li>
        </ul>
      </div>
    </div>
  </nav>
</header>