<section id="profile">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="stickMe">
          <div class="left-content elevation">
            <div *ngIf="profileData">
              <div class="top"></div>
              <div class="profile-image text-center">
                <img [src]="profileData.photo_url" alt="">
                <div class="edit">
                  <button class="ico" (click)="openProfileUpdateDialog();" mat-icon-button
                    matTooltip="Edit profile details" matTooltipPosition="above">
                    <i class="fas fa-pencil-alt"></i>
                  </button>
                </div>
                <br><br>
                <h4>{{profileData.name}}</h4>
                <p class="mb-1">{{profileData.short_bio}}</p>
                <p>{{profileData.type}}</p>
                <hr>
              </div>
              <div class="profileDetails pb-3">
                <p><i class="far fa-envelope-open"></i>{{profileData.email}} </p>
                <p *ngIf="profileData.program"><i class="fas fa-book-reader"></i>{{profileData.program}}</p>
                <p *ngIf="profileData.batch && profileData.passed_year"><i
                    class="fas fa-book-open"></i>{{profileData.batch}} - {{profileData.passed_year}}</p>
                <p *ngIf="profileData.reg_number"><i class="fas fa-fire"></i>{{profileData.reg_number}} </p>

                <p><i class="fas fa-venus-mars"></i>{{profileData.gender}}</p>
                <p *ngIf="profileData.country"><i class="fas fa-globe-americas"></i>{{profileData.country}} </p>
                <p *ngIf="profileData.address"><i class="fas fa-map-marker-alt"></i>{{profileData.address}}</p>
                <p *ngIf="profileData.phone"><i class="fas fa-phone"></i>{{profileData.phone}}</p>
                <p matTooltipPosition="above" matTooltip="Joined Date"><i class="fas fa-sign-in-alt"></i>Joined:
                  {{profileData.created_at_formatted}}</p>
                <p matTooltipPosition="above" matTooltip="Last Updated"><i class="fas fa-user-edit"></i>Updated:
                  {{profileData.updated_at_formatted}}</p>
              </div>
            </div>
            <div *ngIf="!profileData" style="padding: 20px;">
              <ngx-content-loading [width]="275">
                <svg:g ngx-code-preset></svg:g>
              </ngx-content-loading>
              <ngx-content-loading [width]="275">
                <svg:g ngx-code-preset></svg:g>
              </ngx-content-loading>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <app-post-item></app-post-item>
        <div *ngIf="!posts" class="elevation" style="background:#fff;">
          <div style="padding: 40px">
            <ngx-content-loading [width]="250">
              <svg:g ngx-facebook-preset></svg:g>
            </ngx-content-loading>
            <ngx-content-loading [width]="250">
              <svg:g ngx-facebook-preset></svg:g>
            </ngx-content-loading>
          </div>
        </div>
        <div *ngIf="posts" class="mid-content">
          <div *ngFor="let item of posts">
            <app-post [datas]="item"></app-post>
          </div>
        </div>
        <br>
      </div>

      <div class="col-md-3">
        <div class="stickMeX">
          <div class="right-content elevation">
            <div *ngIf="skills" class="top flex jcsb pl-3 pr-1 pt-2 pb-2">
              <h2>Your Skills</h2>
              <div class="action text-center">
                <button (click)="addSkillsDialog();" mat-icon-button>
                  <i class="fas fa-pencil-alt"></i>
                </button>
              </div>
            </div>
            <div *ngIf="skills" class="btm px-2">
              <mat-chip-list>
                <mat-chip *ngFor="let item of skills;">{{item.name}}</mat-chip>
              </mat-chip-list>
              <div class="pb-3"></div>
            </div>
            <div *ngIf="!skills" class="p-3">
              <ngx-content-loading [width]="275">
                <svg:g ngx-code-preset></svg:g>
              </ngx-content-loading>
              <ngx-content-loading [width]="275">
                <svg:g ngx-code-preset></svg:g>
              </ngx-content-loading>
            </div>
          </div>
        </div>

        <div class="right-content elevation mt-3">
          <div class="top flex jcsb pl-3 pr-1 pt-2">
            <h2>Experiences</h2>
            <div class="action text-center">
              <button (click)="workExpEditDialog();" mat-icon-button>
                <i class="fas fa-pencil-alt"></i>
              </button>
            </div>
          </div>
          <div class="workList">
            <div class="pb-2"></div>

            <div class="item" *ngFor="let item of workList;">
              <div class="flex px-3 pb-3">
                <div class="left">
                  <img src="assets/images/work.png" style="height:50px;" alt="">
                </div>
                <div class="right pl-2">
                  <p>{{item.organization_name}}</p>
                  <p>{{item.position}}</p>
                  <p>{{item.years}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>