$lb:#41cbc7;
$mb:#4ea1d1;
// $db:#4873a6;
$db:#3f51b5;
$p:#564269;
$dp:#524364;
$w: #fff;
$bl: rgba(#000,0.6);

$color-primary-0: #226666;
$color-primary-1: #669999;
$color-primary-2: #407F7F;
$color-primary-3: #0D4D4D;
$color-primary-4: #003333;

%fontBold{
   font-size: 16px;
   font-weight: 700;
}

%fontNormal{
   font-size: 14px;
   font-weight: 400;
}
%fontB14{
   font-size: 14px;
   font-weight: 700;
}
%font13{
   font-size: 13px;
   font-weight: 400;
}
%font12{
   font-size: 12px;
   font-weight: 400;
}
%fontB13{
   font-size: 13px;
   font-weight: 700;
}