@import 'assets/variable';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

*{
   outline: none !important;
}
.container{
   @media(min-width: 1000px){
      max-width: 80% !important;
      margin: auto !important;
   }
}
.centerize{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.flex{
   display: flex;
   &.jcsb{
      justify-content: space-between;
   }
   &.ci{
      align-items: center;
   }
   &.jcc{
      justify-content: center;
   }
}

.elevation{
   box-shadow: 0 0 0 1px rgba(0,0,0,.15),0 2px 3px rgba(0,0,0,.2);
   transition: box-shadow 83ms;
   border:0;
   border-radius: 2px;
   &.border{
      border: 1px solid rgb(132, 135, 138);
   }
}

body{
   margin: 0;
   background-color: #f5f5f5;
}
.gap{
   height: 10px;
}

.customInput {
   display: inline-block;
   padding: .4em .8em .4em .8em;
   box-sizing: border-box;
   margin: 0;
   margin-top: 4px;
   width:100%;
   border:1px solid #ddd;
   border-radius: 6px;
   transition: all .3s;
   &:focus{
      border:1px solid rgba($db, 0.5);
   }
 }

.customSelect {
   color: rgba(0,0,0,0);
   text-shadow: 0 0 0 #000;
   display: inline-block;
   padding: .4em 1.6em .4em .8em;
   box-sizing: border-box;
   outline: none;
   margin: 0;
   appearance: none;
   background-color: #fff;
   width:100%;
   border:1px solid #ddd;
   border-radius: 6px;
   background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23555555%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
   background-repeat: no-repeat;
   background-position: right .7em top 50%, 0 0;
   background-size: .65em auto, 100%;
 }

 .btnX{
    padding: 0 15px !important;
    background: $db;
    color: $w;
    font-size: 13px;
    font-weight: 700;
    transition: .3s;
    border: none;
    border-radius: 4px;
    &:hover{
       color: #ddd;
       background: #006097;
    }
 }